In [3]:
import pandas as pd
import numpy as np
from IPython.display import Image
np.set_printoptions(precision = 3)

In [4]:
data = pd.read_csv("jester-data-1.csv")
data_c = data.copy()
data_c.head()

,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.5,-9.85,4.17,-8.98,...,2.82.2,99.18,99.19,99.20,99.21,99.22,-5.63,99.23,99.24,99.25
0,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
1,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
2,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
3,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
4,100,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45

In [8]:
data_c = data_c[0:199]
data_c.shape

(199, 101)

In [94]:
u_0 = data_c.shape[0] - 1
i_0 = data_c.shape[1] - 1
#random.shuffle(u)
#random.shuffle(i)
#k = int(0.1 * len(data_c))
k = int(0.1 * (u_0 + 1) * (i_0 + 1))
print(k, u_0, i_0, data_c.shape)

2009 198 100 (199, 101)

In [48]:
data_training = data_c.copy()
data_training.head()

,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.5,-9.85,4.17,-8.98,...,2.82.2,99.18,99.19,99.20,99.21,99.22,-5.63,99.23,99.24,99.25
0,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
1,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
2,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
3,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
4,100,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45

In [108]:
#Label 10% of the dataset cells as 99
import random 

l = 0
while l < 50:
    x = random.randint(0, u_0)
    y = random.randint(0, i_0)
    rating = data_training.values[x][y]
    #print(x, y, rating)
    if (rating != 99):
        data_training.iloc[x,y] = 99
        #print(data_training.iloc[x,y])
    l = l+1

In [109]:
#print(data_training.iloc[0,14] )
#print(data_c.iloc[0,14])
review = pd.DataFrame(data_c.values - data_training.values)
#review.head()
review.describe()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
count,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,...,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000
mean,-9.899497,-29.246884,-28.577136,-20.472563,-18.135980,-35.148040,-24.170804,-32.866784,-38.941809,-21.903116,...,-12.699045,-14.809698,-10.730955,-12.133970,-10.324070,-10.622211,-14.511558,-13.541910,-14.626935,-8.430201
std,18.870637,45.262862,44.772371,40.367414,38.744397,47.436468,42.484706,46.880278,48.717709,41.282817,...,32.885411,35.304002,30.558776,32.156405,30.187253,30.248101,34.571063,34.349616,35.555173,27.709234
min,-63.000000,-108.660000,-108.660000,-108.710000,-108.760000,-108.220000,-108.610000,-108.610000,-108.850000,-108.420000,...,-108.130000,-108.610000,-108.710000,-107.590000,-108.760000,-106.770000,-106.670000,-108.660000,-107.880000,-108.270000
25%,-8.000000,-93.050000,-90.915000,0.000000,0.000000,-94.390000,0.000000,-94.195000,-97.085000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [110]:
n_features = 2

user_ratings = data_training.values
latent_user_preferences = np.random.random((user_ratings.shape[0], n_features))
latent_item_features = np.random.random((user_ratings.shape[1],n_features))

In [116]:
def predict_rating(user_id,item_id):
    """ Predict a rating given a user_id and an item_id.
    """
    user_preference = latent_user_preferences[user_id]
    item_preference = latent_item_features[item_id]
    return user_preference.dot(item_preference)

def train(user_id, item_id, rating,alpha = 0.0001):
    
    #print item_id
    prediction_rating = predict_rating(user_id, item_id)
    err =  ( prediction_rating- rating );
    #print err
    user_pref_values = latent_user_preferences[user_id][:]
    latent_user_preferences[user_id] -= alpha * err * latent_item_features[item_id]
    latent_item_features[item_id] -= alpha * err * user_pref_values
    return err 

def sgd(iterations = 3000):
    """ Iterate over all users and all items and train for 
        a certain number of iterations
    """
 
    for iteration in range(0,iterations):
        error = []      
        for user_id in range(0,latent_user_preferences.shape[0]):
            for item_id in range(0,latent_item_features.shape[0]):
                rating = user_ratings[user_id][item_id]
                if(rating != 99):
                    err = train(user_id,item_id,rating)
                    error.append(err)
                    
        mse = (np.array(error) ** 2).mean()   
        
        if(iteration%10000 == 0 ):
            print(mse)

In [117]:
sgd()

67.59798455038919

KeyboardInterrupt:

In [113]:
predictions = latent_user_preferences.dot(latent_item_features.T)
predictions

array([[24.973,  1.03 ,  0.425, ...,  2.365,  1.104,  1.922],
       [15.499,  0.836,  0.262, ...,  1.446,  0.542,  1.04 ],
       [14.187,  0.637,  0.241, ...,  1.338,  0.589,  1.052],
       ...,
       [13.94 ,  0.682,  0.236, ...,  1.308,  0.538,  0.99 ],
       [ 9.71 ,  0.483,  0.164, ...,  0.911,  0.369,  0.683],
       [19.086,  1.112,  0.321, ...,  1.772,  0.607,  1.217]])

In [114]:
values = [zip(user_ratings[i], predictions[i]) for i in range(0,predictions.shape[0])]
comparison_data = pd.DataFrame(values)
comparison_data.columns = data.columns
comparison_data.applymap(lambda (x,y): "(%2.3f|%2.3f)"%(x,y))

SyntaxError: invalid syntax (<ipython-input-114-eefdbd657f59>, line 4)